body{
	margin: 0;
	background-image: url(images/background.png);
	background-attachment: fixed;
	background-repeat: repeat;
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
}

#banner{
	background-image: url(images/bannerbackground.png);
	background-repeat: repeat-x;
	text-align: center;
}

h1{
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	font-family: Tahoma, Verdana, sans-serif;
}

#content{
	text-align: center;
	margin: 0 auto;
	width: 800px;
	border: 4px solid gray;
}

#leftcontent{
	width: 550px;
	float: left;
}

#leftcontent > #rottenbig{
	background-image: url(images/rottenbackground.png);
	background-repeat: repeat-x;
	background-size: 100% 83px;
	text-align: left;
	height: 83px;
}

#leftcontent > #rottenbig > .rate {
	font-size: 48pt;
	color: red;
	font-weight: bold;
}
#leftcontent > #rottenbig > .rate > .review88{
	font-size: 8pt;
	font-weight: normal;
	color: white;
}

#content > #leftcontent > #leftreview{
	margin-left: 2%;
	width: 47%;
	float:left;
}
#content > #leftcontent > #rightreview{
	width: 258.5px;
	margin-right: 2%;
	float:right;
}
#content #leftcontent .quote {
	font-size: 8pt;
	font-weight: bold;
	border: 2px solid gray;
	background-color: #E1D697;
	padding: 8px;
	text-align: left;
}

#content #leftcontent .reviewer{
	text-align:left;
	margin-bottom: 3em;
}


#content #leftcontent img{
	float: left;
	margin-right: 5px;
}

#content > #rightcontent{
	float: right;
	width: 250px;
	background-color: #A2B964;
}
#content > #rightcontent> dl{
	margin: 10px;
	text-align: left;
	font-size: 8pt;
	font-family: Arial, sans-serif;
}
#content > #rightcontent> dl>dt{
	font-weight: bold;
	margin-top: 1em;
}
.name2{
	font-style: italic;
}
#content > .page{
	background-color: #A2B964;
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-bottom: 0;
	clear: both;
}
#validator{
	position: fixed;
	bottom: 0;
	right: 0;
	border: 0;
}