html, body{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	background: black;
	background-size: 100% ;
}

h1{
	margin-top: 30px;
	margin-bottom: 0;
	text-align: center;
	font-family: Optima, courier ,sans-serif;
	font-weight: normal;
	font-size: 28pt;
	color: #fefefe;
}


/*  layout   */
#result{
	margin: 10px auto;
	width: 300px;
	height: 55px;
	font-family: Optima,courier ,sans-serif;
	font-size: 16pt;
	text-align: center;
	line-height: 50px;
	color: white;
}

#game{
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 350px;
	height: 350px;
}

#restart, button{
	margin: 0px auto;
	text-align: center;
	font-family: Optima, courier ,sans-serif;
	font-weight: normal;
	font-size: 15pt;
	height: 34px;
	width: 120px;
	color: white;
	background-color: #061323;
	opacity: 0.8;
	transition: 0.1s ease;
}
#restart:hover{
	opacity: 1;
}

#cheat{
	margin: 20px auto;
	text-align: center;
	height: 34px;
	width: 120px;
	opacity: 0.33;
	transition: 0.1s ease;
}
#cheat:hover{
	opacity: 1;
}

/*game pics*/
.bgimg{
	background: url(image/moon.jpg);
	background-size: 350px 350px;
	position: absolute;
	display: inline-block;
	border: 1px solid white;
	width: 85.5px;
	height: 85.5px;
	opacity: 0.77;
	transition: all 0.25s ease;
}
.bgimg:hover{
	opacity: 1;
	transform: scale(1.05, 1.05);
}

.img0, .img1, .img2, .img3{
	top: 0px;
}
.img4, .img5, .img6, .img7{
	top: 87.5px;
}
.img8, .img9, .img10, .img11{
	top: 175px;
}
.img12, .img13, .img14, .img15{
	top: 262.5px;
}

.img0, .img4, .img8, .img12{
	left: 0px;
}
.img1, .img5, .img9, .img13{
	left: 87.5px;
}
.img2, .img6, .img10, .img14{
	left: 175px;
}
.img3, .img7, .img11, .img15{
	left: 262.5px;
}

/*position*/
#img_15{
	background-image: url(image/moon.jpg);
	opacity: 0.1;
	border:none;
	background-size: 100%  100%;
	transform: scale(1,1);
}
#img_15:hover{
	opacity: 0.5;
}

#img_0{
	background-position: 0px 0px;
}
#img_1{
	background-position: -87.5px 0px;
}
#img_2{
	background-position: -175px 0px;
}
#img_3{
	background-position: -262.50px 0px;
}
#img_4{
	background-position: 0px -87.5px;
}
#img_5{
	background-position: -87.5px -87.5px;
}
#img_6{
	background-position: -175px -87.5px;
}
#img_7{
	background-position: -262.5px -87.5px;
}
#img_8{
	background-position: 0px -175px;
}
#img_9{
	background-position: -87.5px -175px;
}
#img_10{
	background-position: -175px -175px;
}
#img_11{
	background-position: -262.5px -175px;
}
#img_12{
	background-position: 0px -262.5px;
}
#img_13{
	background-position: -87.5px -262.5px;
}
#img_14{
	background-position: -175px -262.5px;
}
